.landinggpage{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  background-image: url('../Landing/images/background4.jpg');
  background-size: cover;
  background-position: center;
}