.overall{
background-image: url('../Listusers/images/back.webp');
background-size: cover;

}
.header{
color: red;
 padding: 10px;
}
.box,p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
.box p{
    
    width: 300px;
   color:red;

 
   
}
.box1{
    display: flex;
    /* justify-content: center;
    align-items: center;
     */
}
.box2{
    display: flex;
    /* justify-content: center;
    align-items: center;
     */
}
.box3{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding-right: 20px;
    
}
.labels{
    display: flex;
   
}
.labels h1{
    padding: 20px 0 10px 230px;
    color: red;
}
.box1 img{
 width: 40px;
 margin-top: 20px;
}
.box2  img{
    width: 30px;
}
.box3 img{
    width: 30px;
    margin-left: 60px;
   
}
 
 