.listnav,ul{
    display: flex;
    /* padding: 0px 20px 0px 20px; */
  
}
.listnav ul,li,button {
  list-style-type: none;
 
  
}
nav{
    border: solid 1px black;
    color: white;
    background-color: black;
    padding: 15px;
    
}
