/* .listnav,ul,li{
    display: flex;
    padding: 0px 20px 0px 20px;
} */
.listnav ul,li {
  list-style-type: none;
  padding: 10px 20px 0px 20px;
}
nav{
    border: solid 1px black;
    color: white;
    background-color: black;
    height: 8vh;
   
   
}
.button1{
  margin-left: 5px;
}
