*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.adddetails,label{
    display: block;
    padding: 20px 20px 0px 20px;
}
.adddata{
    height:80vh;
   background-image: url('../Adduser/images/background2.jpeg');
   color:darkmagenta;
   /* background-size: cover; */
    
}
.adddetails button{
    margin-top: 10px;
}
.adddata h2{
    padding-top: 20px;
}
/* https://www.pexels.com/photo/drone-shot-of-webster-s-falls-in-canada-9789919/ */