* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.adddetails label {
    display: block;
    padding: 40px 20px 0px 40px;
}

.adddata {
    height: 100vh;
    color:#7A8BFF;
    width:50vw;
    background-color: greenyellow;
    width: 40%;

}

.adddetails button {
    margin-top: 20px;
}

.adddata h2 {
    padding-top: 20px;
}

.adddetails input {
    height: 30px;
    width: 200px;
    padding: 20px;
}

.dataforms {
    display: flex;
}

.adddetails {
    margin-top: 20px;
}

.mydraw img {
    width: 100%;
    height: 60%;
    margin-top: 320px;

}
.mydraw{
    /* background-color: black; */
    width: 60%;
}


