* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.adddetails label {
    display: block;
    padding: 40px 20px 0px 40px;
}

.adddata {
    height: 100vh;
    background-color: brown;
    color: black;
    width:50vw
}

.adddetails button {
    margin-top: 20px;
}

.adddata h2 {
    padding-top: 20px;
}

.adddetails input {
    height: 30px;
    width: 200px;
    padding: 20px;
}

.dataforms {
    display: flex;
}

.adddetails {
    margin-top: 20px;
}

.mydraw img {
    width: 80%;
    height: 80%;
    margin-top: 60px;

}

.mydraw {

    background-color: chartreuse;
    
}
