.password{
    margin-top: 50px;
    margin-bottom: 10px;
}
.submit{
    padding: 20px;
    margin-left: 40%;
}
.submit button{
    background-color: green;
}
.container{
    width: 40%;
    height: 40vh;
    border: 2px solid black;
    margin-left: 30%;
}

