.totally{
    display: flex;
   height: 90vh;
}

.formss{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 100px;
   color:rgb(0, 0, 0);
   width: 30vw;
   height: 80vh;
   background-color: lightgreen;
   
 

}
.formss label {
    display: block;
    padding: 40px ;
   margin-bottom: 3px;
}
.formss input{
    margin-top: 5px;
    width:  200px;
    height: 30px;
    margin-bottom: 5px;
}
.formss button{
    margin-top: 10px;
}
.imagee{

width: 30vw;
height: 80vh;


}
.imagee img{
    height: 80%;
    margin-top: 150px;
}
