.totally{
    display: flex;
   height: 90vh;
}

.formss{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 100px;
   color:rgb(0, 0, 0);
   width: 30vw;
   height: 80vh;
   background-color: #A0C8FE;
   
 

}
.formss label {
    display: block;
    /* padding: 40px ; */
   margin-bottom: 3px;
}
.formss input{
    margin-top: 5px;
    width:  200px;
    height: 30px;
    margin-bottom: 5px;
}
.formss button{
    margin-top: 10px;
}
.imagee{

width: 30vw;
height: 80vh;


}
.imagee img{
    height: 80%;
    margin-top: 150px;
}
.buttonss{
    display: flex;
    
    
}
.button1{
    margin-right: 20px;
}
.button1 button:hover{
    background-color: red;
    color: white;
}
.button2 button:hover{
    background-color: red;
    color: white;
}
.button1 button:active{
    background-color: green;
    color: white;
}
.button2 button:active{
    background-color: green;
    color: white;
}
