.loginform {
    display: flex;
}

.loginimage img {
    width: 100%;
    height: 50%;

}

.loginimage {
    background-color: black;
}

.loginimage img {
    margin-top: 100px;
}

.logindataa {
    background-color:yellow ;
    padding-top: 200px;
    height: 80vh;
    width: 80%;
}

.landinglogins {
    margin: auto;
}

.landinglogins label,
button {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;

}

.landinglogins input {
    margin-bottom: 20px;
    padding: 10px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;

}

.centre button:hover {
    background-color: red;
}